@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/font-awesome/less/font-awesome.less";
@import "stable.less";

.container {
    @media (min-width: 768px) {
        max-width: 960px;
    }
}   

section.page {
    padding-top: 30px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

footer {
    margin-top: 10px;
    background: #eee;
}
